{% extends 'base/base.html' %}

{% block content %}
<div class="mt-3 container">
  <h4>Description</h4>
  Simple proof of concept of auto machine learning application. Please, read whole page before tryning this app.
  <br/>
  <br/>
  <b>Features included:</b>
  <ul>
    <li>Filling missing values - not with ML approach yet.</li>
    <li>Transforming categorical features.</li>
    <li>Selecting features for model. Based on F test and Chi-squared test.</li>
    <li>Model selection. Choosing among linear model, random forest model and SVM model. </li>
    <li>Visualising the most important features.</li>
    <li>Visualising regression line (decision boundary). If number of features > 1 (2) then PCA ist used.</li>
    <li>Testing</li>
  </ul>

  <b>Features not included:</b>
  <ul>
    <li>Outlier detection. (Planned).</li>
    <li>Creating synthetic features.</li>
    <li>No neural networks for object detection etc.</li>
  </ul>

  <h6>Required CSV format:</h6>
  <ul>
    <li>Target variable must be last.</li>
    <li>Files should be cleaned (or transformed) of dates and other unusual columns for ML.</li>
  </ul>
  <b>Runtime heavily depends on how large train/test files are. Train set with ~7M rows, ~50 features and 8 folds for model selection has runtime around 20 minutes on my machine (binary classification).</b>
</div>
{% endblock %}
